# .clangd 配置文件

# 1. 告诉 clangd 编译数据库（compile_commands.json）就在 build 目录里
CompilationDatabase: build/

Index:
  Background: Build

# 2. 针对所有 C 文件添加额外的搜索标志
If:
  PathMatch: .*\.(c|h)
CompileFlags:
  Add:
    - -std=c11
    - -Iinc      # 强制加入 inc 目录作为头文件搜索路径
    - -Itext     # 强制加入 text 目录
    - -x
    - c
